*{
  font-family: "Arial", Arial, sans-serif;
}

body {
  background-color: #ecf0f5;
  width: 200px;
}

h2 {
    color: #066a75;
margin-left:650px;
}
.center {
margin-left:550px;
}
.quit {
margin-left:430px;
}
.info {
margin-left: 650px;
margin-top:-83px;
}
.ranking {
margin-left: 150px;
margin-top:200px;
}
#nome {
  color: #000000;
  margin-top:-10px;
  margin-left:-20px;
  padding-left: auto;

}
.content {
  background-color: #ecf0f5;
width:400px;
height:350px;
margin-left:700px;
margin-right:700px;
margin-top:-520px;
}
.jogo {
 background-color: rgb(89, 106, 255);
 border: black;
 padding: 8px 24px;
 cursor: pointer;
 height: 500px;
 width: 500px;
margin-left: 100px;
  margin-right: 100px;
position:right;
}

.caixas {
    background-color: rgb(225, 245, 252);
    border: 2px solid rgb(89, 106, 255);
    padding: 8px 24px;
    cursor: pointer;
    width: 100px;
    height: 20px;
margin-left: 150px;
  margin-right: 150px;
margin-top:35px;
text-align:center;
}

.sair {
    border-radius: 5px;
    border: black; 
    padding: 14px 183px; 
    cursor: pointer;
    background-color: #eb0000;
}
.sair a {
    color: white; 
}
.sair:hover {
    background-color: #eb0000;
}

.edit {
   border-radius: 5px;
    border: black; 
    padding: 22px 200px; 
    cursor: pointer;
    background-color: #009e0d;
    background-position: center;
    margin: 5px;
}

.edit a{
  color: white;
}

.edit:hover {
  background-color: #009e0d;
}





